/** html selectors **/

html {
  font-family: fsm;
  background-color: #daddef;
  color: #7d8aac;
}

/** headers **/
h1, h2, h3, h4 {
  font-weight: bold;
  font-size: 6vmin;
}

/** paragraphs **/
p {
  font-size: 3vmin;
}


/** hyperlink styling **/
a:link {
  color: #7d8aac;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:visited {
  color: #7d8aac;
}

a:hover {
  color: #505c6d;
}

a:active {
  color: #505c6d;
}
/** classes **/

/** navbar and logo**/
.logo {
  width: 40vmin;
}

.logo-container {
  margin-left: 2.5vmin;
  display: inline-block;
}

.navbar-items {
  list-style-type: none;
  line-height: 7.7vmin;
  float: left;
  margin-top: 4vmin;
}

.navbar-item {
  color: #7d8aac;
  text-decoration: none;
  font-size: 4vmin;
  border: 0.7vmin solid #454956;
  padding: 3px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-item:hover {
  color: #39425f;
  font-weight: bolder;
  margin-left: 10px;
}

.navbar {
  float: left;
  border-right: 0.98vmin solid #454956;
  border-radius: 5px;
  height: 100%;
  padding: 1vmin;
}

/** content **/
.content {
  text-align: center;
  margin-left: 10px;
}

/** ids **/

#uncn-div {
  text-align: center;
}

#under-construction {
  margin-top: 200px;
}

#under-construction-github-mark {
  width: 8vmin;
}

#under-construction-github-mark-container {
  margin-top: 14px;
  background-color: #7d8aac;
  padding-top: 1.9vmin;
  padding-left: 1.9vmin;
  padding-right: 1.9vmin;
  padding-bottom: 1vmin;
  border-radius: 10vmin;
  width: max-content;
  display: inline-block;
}

#dev-button {
  color: #7d8aac;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#dev-button:hover {
  color: #505c6d;
}
/** fonts **/

/** fantasque sans mono **/
@font-face {
  font-family: fsm;
  src: url(../assets/fonts/fantasque-sans-mono/fsm-reg.otf);
}
/** fantasque sans mono bold **/
@font-face {
  font-family: fsm;
  src: url(../assets/fonts/fantasque-sans-mono/fsm-bold.otf);
  font-weight: bold;
}
/** fantasque sans mono italic **/
@font-face {
  font-family: fsm;
  src: url(../assets/fonts/fantasque-sans-mono/fsm-italic.otf);
  font-style: italic;
}
/** fantasque sans mono bold italic **/
@font-face {
  font-family: fsm;
  src: url(../assets/fonts/fantasque-sans-mono/fsm-bolditalic.otf);
  font-weight: bold;
  font-style: italic;
}

/** Other **/

::selection {
  background-color: #939faf;
  color: white;
}
